:root {
    --bg-color: #080808;
    --text-color: #fff;
    --second-bg-color: #131313;
    --main-color: #00ffee;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    max-width: 100vw;
    padding: 2rem 10%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-family: "Kanit", sans-serif;
font-weight: 700;
font-style: normal;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 3rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}


#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
    cursor: pointer;
    
}


@media (max-width: 768px) {
    header {
        padding: 2rem 5%;
    }

   
@media (max-width: 768px) {
.navbar {
position: fixed; 
top: 0;
left: -100%;
width: 100vw;
height: 100vh; 
background: var(--second-bg-color);
z-index: 1001; 
text-align: center;
flex-direction: column;
transition: 0.5s ease;
}

.navbar.active {
left: 0; 
}

#menu-icon {
z-index: 1002; 
}

.navbar a {
font-size: 2rem;
padding: 1.5rem 0;
margin-left: 0;
}
}


    #menu-icon {
       font-size: 3.6rem;
       color: var(--main-color);
       display: block;
      
    }
}

section {
    min-height: 100vh;
    padding: 5rem 12%;
}


.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem; 
    flex-wrap: wrap; 
    
    
}

.home-content {
    flex: 1;
    max-width: 50%; 
}

.home-content h3 { 
    margin-bottom: 3.5rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height:3.5rem;
    width: 3.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
    text-decoration: none;
   
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}


.btn {
    display: inline-block;
    padding: 1rem 2.8rem; 
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

/* Image Styling */
.home-img {
    flex: 1;
    max-width: 40%; /* Adjust image width */
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 50%;
}

.home-img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 25% var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25% var(--main-color), 
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
    transform: scale(1.05);
}

.text-animation{
position: relative;
font-size: 34px;
font-weight: 600;
min-width: 280px;
}

.text-animation span {
position: relative; 
}

.text-animation span:before{
content:"Web Developer";
color: var(--main-color);
animation: words 20s infinite;
}

.text-animation span:after{
content: "";
background-color: var(--bg-color);
position: absolute;
width: calc(100% + 8px);  
height: 100%;
border-left: 3px solid var(--bg-color);
right: -8px;
animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}





@keyframes words{
0%, 20%  {
content: "Frontend Designer";
}
21%, 40% {
content: "Web Designer";
}
41%, 60%{
content:"UX/UI Designer";
}
61%, 80%{
content:"PHP Developer";
}
81%, 100%{
content:"Dieheart coder";
}
}

@keyframes typing{
10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
width: 0;
}
5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
width: calc(100% + 8px);
}  
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap:2em;
    background: var(--second-bg-color);
}

.about .img-about{
    text-align:Center;
    position: relative;
}

.about .img-about img{
  max-width:400px;  
  height:auto;
}
.about-content span{
color:#fdfdfd;
font-size: 1.8rem;
font-weight:200;
letter-spacing:2px;
text-transform: uppercase;
}

.about-content{
margin:0 10px;
}

.about-content h2{
color:var(--main-color);
font-weight:700;
font-size: 24px;
}
.about-content h3{
font-weight: 600;
font-size: 1.5rem;
margin-bottom:0.2rem;
}

.about-content p{
color:#fdfdfd;
font-weight:400;
margin-bottom:1.5rem;
font-size:1.9rem;
font-family: "Kanit", sans-serif;
font-weight: 500;
font-style: normal;

}

.info-about1,
.info-about2, 
.info-about3{

background: var(--bg-color);
font-size: 1.4rem;
position:absolute;
padding:10px;
width:90px;
height:90px;
border-radius:69% 31% 66% 34% / 21% 30% 70% 79%;
display: block;
box-shadow:0 0 25px var(--main-color);
border:1px solid var(--main-color);
outline:2px solid var(--bg-color);
z-index:100;
animation:morph 6s linear infinite;

}

.info-about1{
left:-10%;
top:34%;
}

.info-about2{
left:66%;
top:-13%;
}

.info-about3{
left:61%;
top:85%; 
}

.img-about span{
color: var(--main-color);
font-size: 2rem;
font-family: Poppins;
font-style: italic;
}

@keyframes morph{
0%,100%{
border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
} 
30%{
border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
}
60%{
border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
}
80%{
border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
}
}

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.education {
    padding: 100px 15px;
    background: var(--second-bg-color);
}

.education h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.timeline-item {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3 {
    font-size: 20px;
    color: #fff;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}


@media (max-width: 768px) {
    .heading {
        font-size: 4rem;
        margin: 2rem 0;
    }

    .timeline-items::before {
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
    }

    .timeline-content {
        padding: 20px 30px;
    }

    .timeline-date {
        font-size: 18px;
    }

    .timeline-content h3 {
        font-size: 18px;
    }

    .timeline-content p {
        font-size: 14px;
    }

    .timeline-dot {
        top: 0; 
    }
}
.skills{
    background: var(--bg-color);

}
.bar span{
color:var(--main-color);
}
.skill-main{
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar{
    margin-bottom:2.3rem;
}

.skill-main h3{
    margin-bottom:2rem;
    font-size: 3rem;
    text-align: center;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    font-size: 1.6rem;
}

.skill-left .skill-bar .bar{
width:100%;
height:10px;
background-color:#fff;
border-radius:25px;
margin-top:10px;
position:relative;
}

.skill-bar .bar span{
width:50%;
height:100%;
position:absolute;
left:0;
background-color:#12f7ff;
border-radius:25px;
box-shadow: 0 0 10px var(--main-color);
}


.skill-bar .bar .html{
    width:72%;
    animation: html 2s;
}
.skill-bar .bar .css{
    width:75%;
    animation:css 3s;
}
.skill-bar .bar .js{
width: 80%;
animation:js 4s;
}

.skill-bar .bar .react{
    width:60%;
animation:react 5s;
}

.skill-bar .bar .php{
    width: 55%;
    animation:php 2s;
}


@keyframes html{
0%{
width:0%;

}
100%{
width:72%;
}
}
@keyframes css{
0%{
width:0%;

}
100%{
width:75%;
}
}
@keyframes js{
0%{
width:0%;

}
100%{
width:80%;
}
}
@keyframes react{
0%{
width:0%;

}
100%{
width:60%;
}
}
@keyframes php{
0%{
width:0%;

}
100%{
width:55%;
}
}

.professional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Added gap for better spacing */
}

.box {
    margin: 10px 0;
    flex: 1 1 15rem;
    position: relative;
}

.circle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    position: relative; /* Added for positioning of points */
}

.box .text {
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.box .text big {
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .text small {
    display: block;
    font-weight: 600;
    font-size:1.8rem;
}

.circle .points {
    width: 2px;
    height: 10px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
    animation: glow 0.04s linear forwards;
    animation-duration: calc(var(--i) * 0.05s);
}

@keyframes glow {
    0% {
        background-color: var(--bg-color);
        box-shadow: none;
    }
    100% {
        background-color: #12f7ff;
        box-shadow: 0 0 25px var(--main-color);
    }
}
.points.marked { 
animation: glow 0.04s linear forwards;
animation-duration: calc(var(--i) * 0.05s);
}

.filter-buttons{
    margin:2rem;
    text-align: center;
    
}

.filter-buttons .btns{
background:none;
outline:none;
border:none;
cursor:pointer;
font-size:1.4rem;
font-weight:600;
letter-spacing: 0.4px;
margin-left:1.3rem;
color:var(--text-color);

}

.filter-buttons .btns:hover{
    color: var(--main-color);
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

.portfolio-gallery{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap:2.5rem;
}

.port-box{
    position:relative;
    border-radius:15px; 
    overflow: hidden;
    background:#292e33;
    display:flex;
    grid-template-rows:1fr auto;
    align-items:Center;
    border:2px solid var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}

.port-image{
    display: flex;
    align-items: center;
    justify-content:center;
    height:100%;
    width:100%;
}

.port-image img{
    width:100%;
    opacity:0.5s;
    height:100%;
    transition: 0.3s ease-in-out;
}

.port-content{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    background: linear-gradient(rgba(0,0,0,0.2),#12f7ff);
    display:flex;
   align-items:Center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   transition: 0.5s ease-out;
   padding:0px 2rem;

}

.port-box:hover .port-content{
opacity:1;
}

.port-box:hover .port-image img{
transform:scale(1.05);
}
.port-content h3{
    font-size:1.8rem;
    font-weight:600;
}
.port-content p{
    font-size:0.8rem;
    margin:5px 0 15px 0;
    font-size:1.2rem;
   
}

.port-content a{
    background:#fff;
    border-radius:50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    text-decoration: none;
    border:2px solid green;
    outline:2px solid #fff;
    background: linear-gradient(rgba(0,0,0,0.2),#48eb53);
}
.port-content a i{
    font-size:1.3rem;
    color:var(--bg-color);
}
.contact{
    background-color:var(--bg-color);
}

.contact h2{
    margin-bottom:2rem;
    color:white;
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
    margin:3rem auto;
    text-align:center;
}

.contact form .inputing-box{
display:flex;
justify-content: center;
flex-wrap: wrap;
}

.contact form .inputing-box input, 
.contact form textarea{
width:100%;
padding:2.5rem;
font-size:1.5rem;
color:var(--text-color);
background: var(--second-bg-color);
border-radius: 2rem;
border:2px solid var(--main-color);
margin:1.5rem 0;
resize:none;
}

.contact-form .btn{
    margin-top: 2rem;
}

.footer{
  position: relative; 
left:0;
  bottom:0;
  width:100%;
  padding:40px 0;
  /* background-color:var(--second-bg-color); */
}

.footer .socials{
   text-align:Center;
   padding-bottom: 25px; 
   color:var(--main-color);
}

.footer .socials a{
    font-size:25px;
    color:var(--main-color);
    border:2px solid var(--main-color);
    width:42px;
    height:42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin:0 10px;
    transition:0.3s ease-in-out;
    text-decoration: none;
}
.footer .socials a:hover{
    transform: scale(1.05) translateY(-5px);
    background-color: var(--main-color);
    color:black;
    box-shadow: 0 0 25px var(--main-color);
}
.top-ican{
    font-size:25px;
    color:var(--main-color);
    border:2px solid var(--main-color);
    width:42px;
    height:42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin:0 10px;
    transition:0.3s ease-in-out;
    text-decoration: none;
    cursor:pointer;
}

.top-ican:hover{
    transform: scale(1.05) translateY(-5px);
    background-color: var(--main-color);
    color:black;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top:0;
   
    font-size:18px;
    line-height: 1.6;
    text-decoration: none;
    text-align: center;
}

.footer ul li a{
    color:white;
    border-bottom:3px solid transparent;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}

.footer ul li{
    display:inline-block;
    padding:0 15px;
}
.footer .copyright{
    margin-top:50px;
    text-align: center;
    font-size: 16px;
    color: #fff;

}
.list{
    font-family: 'Poppins';
    font-weight: 200;
}